html {
    overflow-y: scroll;
}


.feather {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-big {
    width: 4em;
    height: 4em;
}


.menu-social .nav-link svg {
    stroke: #1DA1F2;
    width: 24px;
    height: 24px;
  }
  .menu-social .nav-link {
    color: #1DA1F2 !important;
  }



@font-face {
    font-family: 'Diana';
    src: url('/fonts/diana-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }