{{ define "main" }}

<div class="container my-5">
  <div class="row g-4">

    <!-- 本店 -->
    <div class="col-md-6">
      <div class="card h-100 border-danger shadow-sm">
        <img src="/images/shop/honten.jpg" class="card-img-top" alt="本店外観">
        <div class="card-body">
          <h5 class="card-title text-danger">本店</h5>
          <p class="card-text">
            〒321-0132 栃木県宇都宮市雀の宮4-2-8<br>
            TEL：<a href="tel:0286539880">028-653-9880</a>
          </p>
        </div>
        <div class="card-footer bg-white border-0">
          <div class="ratio ratio-4x3">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3207.452887028724!2d139.86995401324768!3d36.49492838472994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f5cdf07ab62c9%3A0x3d78a34646f465ea!2z44CSMzIxLTAxMzIg5qCD5pyo55yM5a6H6YO95a6u5biC6ZuA44Gu5a6u77yU5LiB55uu77yS4oiS77yY!5e0!3m2!1sja!2sjp!4v1744854006783!5m2!1sja!2sjp" width="380" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- 中央店 -->
    <div class="col-md-6">
      <div class="card h-100 border-danger shadow-sm">
        <img src="/images/shop/chuo1.jpg" class="card-img-top" alt="中央店外観">
        <div class="card-body">
          <h5 class="card-title text-danger">中央店</h5>
          <p class="card-text">
            〒320-0863 栃木県宇都宮市操町4-11<br>
            TEL：<a href="tel:0286381828">028-638-1828</a>
          </p>
        </div>
        <div class="card-footer bg-white border-0">
          <div class="ratio ratio-4x3">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3204.8145394204116!2d139.8684998132486!3d36.55858448116363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f67c66c633ff7%3A0x338ab8e1da429593!2z44CSMzIwLTA4NjMg5qCD5pyo55yM5a6H6YO95a6u5biC5pON55S677yU4oiS77yR77yR!5e0!3m2!1sja!2sjp!4v1744854079802!5m2!1sja!2sjp" width="380" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<section class="section container my-3">
  <h3 class="text-danger text-center my-5">新着情報</h3>
  {{ partial "latest-posts" . }}
</section>

{{ end }}